{
  {{ .OpenAPIMetaJSON }},

  "paths": {
    {{- range $i, $p := .Paths }}
    {{- if $i}},{{ end }}
    "{{ $p.Path }}": {
      {{- range $j, $m := $p.Methods }}
      {{- if $j}},{{ end }}
      "{{ $m.Method }}": {
        "tags": ["{{ $p.Tag }}"],
        "summary": "{{ $m.Summary }}",
        {{- if $m.RequestBodyRef }}
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/{{ $m.RequestBodyRef }}"}
            }
          },
          "required": true
        },
        {{- end }}
        "parameters": [
          {{- range $k, $pa := $m.Parameters }}
          {{- if $k}},{{ end }}
          {"name": "{{ $pa.Name }}", "in": "{{ $pa.In }}", {{- if $pa.Required }} "required": true, {{- end }} "schema": {"type": "{{ $pa.Type }}"}}
          {{- end }}
        ],
        "responses": {
          "200": {
            "description": "Success"
            {{- if $m.ResponseRef }},
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/{{ $m.ResponseRef }}"}}}
            {{- else if $m.ResponseIsBinary }},
            "content": {"application/octet-stream": {"schema": {"type": "string", "format": "binary"}}}
            {{- end }}
          }
        }
      }
      {{- end }}
    }
    {{- end }}
  },
  "components": {
    "schemas": {{ .ComponentsSchemasJSON }}
  }
}
